button {
    border: none;
    background-color: #B6410B;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
}

button:hover {
    background-color: #9e3505;
}

.equals {
    grid-column: 3 / 5;
    background-color: rgb(16, 204, 13);
}

.equals:hover {
    background-color: rgb(7, 170, 7);
}

